!!! 5
html
    head
        meta(charset='utf-8' )
        title UI
        link(rel='stylesheet', href='/stylesheets/app.css')
    body
        != body
        script(src='/javascripts/vendor.js')
        script(src='/javascripts/app.js')
        